html
  head
    title= title
  body
    form(action="https://payments.ipayafrica.com/v3/ke" method="POST")
      each val, key in data 
        input(
          type='text'
          name=key
          value=val
        )
      input(type="text", value=generatedhash name="hsh")

      input(type="submit", value="Submit")


